@{
    ViewData["Title"] = "New Dish";
}

@model Dish


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Chefs 'N Dishes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-primary-emphasis text-decoration-underline"
                        asp-area="" asp-controller="Home" asp-action="Index">Chefs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-primary-emphasis text-decoration-underline"
                        asp-area="" asp-controller="Dish" asp-action="AllDishes">Dishes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-primary-emphasis text-decoration-underline"
                        asp-area="" asp-controller="Chef" asp-action="NewChef">Add Chef</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5">Add Dish</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="card shadow mt-5 mx-auto w-50 border-3 border-light-subtle">
    <div class="card-header">
        <h1 class="text-center text-warning-emphasis">Add a Dish!</h1>
    </div>
    <div class="card-body">
        <form asp-action="CreateDish" asp-controller="Dish" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label   fs-5 text-warning-emphasis"></label>
                <input asp-for="Name" class="form-control fs-5 text-center">
                <span asp-validation-for="Name" class="fs-6 text-danger-emphasis"></span>
            </div>
            
            <div class="mb-3">
                <label  asp-for="ChefId" class="form-label  fs-5 text-warning-emphasis"></label>
                <select asp-for="ChefId" class="form-select fs-5">
                    <option disabled selected class="text-center">---------- Select Chef ----------</option>

                    @* List of Existing Chefs *@
                    @foreach(Chef ch in ViewBag.AllChefs)
                    {
                        <option class="text-center" value="@ch.ChefId">@ch.LastName, @ch.FirstName</option>
                    }

                </select>
                <span asp-validation-for="ChefId" class="fs-6 text-danger-emphasis"></span>
            </div>

            <div class="mb-3">
                <label  asp-for="Tastiness" class="form-label  fs-5 text-warning-emphasis"></label>
                <select asp-for="Tastiness" class="form-select fs-5">
                    <option disabled selected class="text-center">---------- Select Rating ----------</option>
                    <option value="1" class="text-center">1</option>
                    <option value="2" class="text-center">2</option>
                    <option value="3" class="text-center">3</option>
                    <option value="4" class="text-center">4</option>
                    <option value="5" class="text-center">5</option>
                </select>
                <span asp-validation-for="Tastiness" class="fs-6 text-danger-emphasis"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Calories" class="form-label   fs-5 text-warning-emphasis"></label>
                <input asp-for="Calories" class="form-control fs-5 text-center">
                <span asp-validation-for="Calories" class="fs-6 text-danger-emphasis"></span>
            </div>
            <button class="btn btn-primary float-end">Add Dish</button>
        </form>
    </div>
</div>